<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-3 widget">
        <h4>Useful Links</h4>
        <ul class="useful-links-menu">
          <li><a href="aboutus.html" title="About Us Page">About Us</a>
          </li>
          <li><a href="#" title="Delivery Page">Delivery</a>
          </li>
          <li><a href="#" title="Legal Notice Page">Legal Notice</a>
          </li>
          <li><a href="#" title="Secure Payment Page">Secure Payment</a>
          </li>
          <li><a href="#" title="Terms Conditions Page">Terms &amp; Conditions of use</a>
          </li>
        </ul>
      </div>
      <div class="col-3 widget">
        <h4>From Twitter</h4>
        <div class="twitter_feed"></div>
      </div>
      <div class="col-3 widget">
        <h4>Contacts</h4>
        <div class="footer-newsletter">
          <h5>Sign up for newsletter:</h5>
          <form id="newsletter" method="post" action="#">
            <div class="row-form clearfix">
              <input type="email" id="newsletter-name" name="newsletter-name" placeholder="Enter up for newsletter" required>
              <button type="submit" title="Submit" class="btn btn-dark pull-right">Submit</button>
            </div>
          </form>
        </div>
        <div class="footer-contact-details">
          <ul class="footer-contact-list">
            <li>Oxford Street 48/188,</li>
            <li>London 02587, United Kingdom</li>
          </ul>
          <ul class="footer-contact-list">
            <li><span>Phone:</span> 8 (900) 415-7812</li>
            <li><span>Fax:</span> 8 (750) 148-1629</li>
          </ul>
          <ul class="footer-contact-list">
            <li><span>Email:</span>NoPu NGuyen</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom" class="clearfix">
    <ul class="footer-menu">
      <li><a href="login.html" title="Log In Page">Log In</a>
      </li>
      <li><a href="register.html" title="Sing Up Page">Sing Up</a>
      </li>
      <li><a href="#" title="Wishlist Page">My Wishlist</a>
      </li>
      <li><a href="#" title="My Accout Page">My Account</a>
      </li>
      <li><a href="checkout.html" title="Checkout Page">Checkout</a>
      </li>
    </ul>
    <div class="footer-social-icons">
      <ul class="social-icons clearfix">
        <li>
          <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
        </li>
        <li>
          <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
        </li>
        <li>
          <a href="#" title="Linkedin" target="_blank" class="social-icon linkedin"></a>
        </li>
        <li>
          <a href="#" title="Flickr" target="_blank" class="social-icon flickr"></a>
        </li>
        <li>
          <a href="#" title="Google +" target="_blank" class="social-icon googleplus"></a>
        </li>
      </ul>
    </div>
    <p class="copyright">2013 Trego. All Rights reserved.</p>
  </div>
</footer>