@(message: String)(slides: List[Slide])

@main("Welcome to Play") {

    <ul class="bxslider">
        @for(slide <- slides){
            <li class="slide" style="background: url('@routes.Assets.at("uploads/"+slide.image)')">
                <div class="slide-content animate animated rotateInUpLeft">
                    <div class="slide-content-wrapper">
                        <h2 class="slide-title"> @slide.name .</h2>
                        <p class="slide-desc"> @slide.description </p><a href="#" class="custom-bx-control custom-bx-prev">Prev</a>  <a href="#" class="custom-bx-control custom-bx-next">Next</a>
                    </div>
                </div>
            </li>
        }
        <li class="slide1">
            <div class="slide-content animate animated rotateInUpLeft">
                <div class="slide-content-wrapper">
                    <h2 class="slide-title">New Collection.</h2>
                    <p class="slide-desc">Integer ultrices ipsum id justo ultrices sed blandit felis ultricies. Duis semper tristique congue. Pellentesque id orci sed ligula elementum tempor ut non nulla. Aenean lectus nulla, rutrum in tincidunt non, vestibulum a arcu ...</p><a href="#" class="custom-bx-control custom-bx-prev">Prev</a>  <a href="#" class="custom-bx-control custom-bx-next">Next</a>
                </div>
            </div>
        </li>
        <li class="slide2">
            <div class="slide-content animate animated flipInX">
                <div class="slide-content-wrapper">
                    <h2 class="slide-title">Summer Mood.</h2>
                    <p class="slide-desc">Integer ultrices ipsum id justo ultrices sed blandit felis ultricies. Duis semper tristique <a href="#">Link</a>. Pellentesque id orci sed ligula elementum tempor ut non nulla. Aenean lectus nulla, rutrum in tincidunt non, vestibulum a arcu ...</p><a href="#" class="custom-bx-control custom-bx-prev">Prev</a>  <a href="#" class="custom-bx-control custom-bx-next">Next</a>
                </div>
            </div>
        </li>
        <li class="slide3">
            <div class="slide-content animate animated rotateIn">
                <div class="slide-content-wrapper">
                    <h2 class="slide-title">Jully LookBook.</h2>
                    <p class="slide-desc">Integer ultrices ipsum id justo ultrices sed blandit felis ultricies. Duis semper tristique congue. Pellentesque id orci sed ligula elementum tempor ut non nulla. Aenean lectus nulla, rutrum in tincidunt non, vestibulum a arcu ...</p><a href="#" class="custom-bx-control custom-bx-prev">Prev</a>  <a href="#" class="custom-bx-control custom-bx-next">Next</a>
                </div>
            </div>
        </li>
    </ul>

}
