@(title: String)
@main("About Us"){
@layout.headercontent("About Us")
  <div id="main-content">
    <div class="container">
      <ul class="breadcrumb clearfix">
        <li><a href="index.html" title="Home Page">Home</a>  <span>></span>
        </li>
        <li class="active">About Us</li>
      </ul>
      <div id="aboutus-header-image">
        <img src="@routes.Assets.at("images/aboutus-header.jpg")" alt="About Us Header">
      </div>
      <div class="md-margin"></div>
      <div class="main-column">
        <div class="welcome-text">
          <h3 class="title-nobg">Welcome to Trego shop.</h3>
          <p>Duis tincidunt augue purus, sagittis consectetur risus. Nulla consequat risus velnibh elementum vitae adipiscing magna. Nam tincidunt magna quis libero aliquameu hendrerit nisi varius. <span class="change-color font-italic text-underline">Proin at magna sem</span> praesent mollis consectetur ligula et veibm. Nullam condimentum, nisl at tempor congue.</p>
          <p>Risus lectus accumsan magna, et condimentum nulla libero vel mi. Proin bibendvelit vulputate nunc elementum vel pulvinar lorem fringilla. Sed sed mi sapien. Curabitur elit tellus, cursus dapibus posuere eget, facilisis nec dui. Vestibulum congue leo et augue aliquet vitae lobortis dolor.</p>
        </div>
        <div class="md-margin"></div>
        <div class="carousel-container team-carousel-container">
          <h3 class="title-border">Meet Our Team</h3><a href="#" id="team-carousel-prev" class="carousel-btn carousel-btn-prev">Prev</a>  <a href="#" id="team-carousel-next" class="carousel-btn carousel-btn-next">Next</a>
          <div class="row-sm">
            <div class="owl-carousel team-carousel">
              <div class="team-member">
                <figure>
                  <img src="@routes.Assets.at("images/team/dana.jpg")" alt="Dana Kinsman">
                </figure>
                <h5 class="member-name">Dana Kinsman</h5>
                <p class="member-position">General Director</p>
                <ul class="social-icons light clearfix">
                  <li>
                    <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                  </li>
                  <li>
                    <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                  </li>
                  <li>
                    <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                  </li>
                  <li>
                    <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                  </li>
                </ul>
              </div>
              <div class="team-member">
                <figure>
                  <img src="@routes.Assets.at("images/team/tom.jpg")" alt="Tom Manseron">
                </figure>
                <h5 class="member-name">Tom Manseron</h5>
                <p class="member-position">Creative Director</p>
                <ul class="social-icons light clearfix">
                  <li>
                    <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                  </li>
                  <li>
                    <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                  </li>
                  <li>
                    <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                  </li>
                  <li>
                    <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                  </li>
                </ul>
              </div>
              <div class="team-member">
                <figure>
                  <img src="@routes.Assets.at("images/team/hannah.jpg")" alt="Hannah Cranwell">
                </figure>
                <h5 class="member-name">Hannah Cranwell</h5>
                <p class="member-position">Project Manager</p>
                <ul class="social-icons light clearfix">
                  <li>
                    <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                  </li>
                  <li>
                    <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                  </li>
                  <li>
                    <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                  </li>
                  <li>
                    <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                  </li>
                </ul>
              </div>
              <div class="team-member">
                <figure>
                  <img src="@routes.Assets.at("images/team/sarah.jpg")" alt="Sarah Wicky">
                </figure>
                <h5 class="member-name">Sarah Wicky</h5>
                <p class="member-position">Direcctor Assistant</p>
                <ul class="social-icons light clearfix">
                  <li>
                    <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                  </li>
                  <li>
                    <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                  </li>
                  <li>
                    <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                  </li>
                  <li>
                    <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                  </li>
                </ul>
              </div>
              <div class="team-member">
                <figure>
                  <img src="@routes.Assets.at("images/team/jane.jpg")" alt="Jane Batman">
                </figure>
                <h5 class="member-name">Jane Batman</h5>
                <p class="member-position">Project Assistant</p>
                <ul class="social-icons light clearfix">
                  <li>
                    <a href="#" title="Facebook" target="_blank" class="social-icon facebook"></a>
                  </li>
                  <li>
                    <a href="#" title="Twitter" target="_blank" class="social-icon twitter"></a>
                  </li>
                  <li>
                    <a href="#" title="Dribbble" target="_blank" class="social-icon dribbble"></a>
                  </li>
                  <li>
                    <a href="#" title="Email +" target="_blank" class="social-icon email"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sm-margin"></div>
        <div class="more-about-text">
          <p>Curabitur elit tellus, cursus dapibus posuere eget, facilisis nec dui. Vestibulum congue leo et augue aliquet vitae lobortis dolor. Duis interdum, est ut vehicula eleifend, sem turpis imperdiet nisl, at tempor orci nisi sit amet dui.</p>
          <p>Morbi vitae lacus ipsum. Nam placerat mollis ipsum, sit amet lobortis dui malesuada ut. Nullam faucibus varius augue ac tincidunt. Ut pretium laoreet lacus ut vulputate. Curabitur dignissim mollis lacus in malesuada.</p>
        </div>
      </div>
      <aside class="side-column sidebar last">
        <div class="widget">
          <h4 class="title">Customer Service</h4>
          <ul class="sidebar-menu">
            <li><a href="contact.html" title="Contact Us">Contact Us</a>
            </li>
            <li><a href="#" title="Returns">Returns</a>
            </li>
            <li><a href="#" title="Sitemap">Sitemap</a>
            </li>
            <li><a href="#" title="Help Contact details">Help &amp; Contact details</a>
            </li>
            <li><a href="#" title="Customer Faq">Customer FAQ</a>
            </li>
            <li><a href="#" title="Privacy Cookies Policy">Privacy &amp; Cookies Policy</a>
            </li>
            <li><a href="#" title="Size guides">Size guides</a>
            </li>
            <li><a href="#" title="Terms and Conditions">terms &amp; conditions</a>
            </li>
          </ul>
        </div>
        <div class="widget sidebarslider">
          <h4 class="title">Testimonials</h4>
          <div class="flexslider sidebar-testimonials">
            <ul class="slides">
              <li class="clearfix">
                <img src="@routes.Assets.at("images/testimonials/user.jpg")" alt="Roberta Curabitus">
                <p>Curabitur elit tellus, curs dapibus posuere eget,facilisis nec dui. Vestibul congue leo et augue orsi aliquet vitae lobortis dolor. Duis interdum,est ut vehicula eleifend, sem turpis imperdiet nisl, at tempor orci nisi sit amet dui.</p>
                <div class="testimonial-meta">Roberta Curabitus,<span>Usa</span>
                </div>
              </li>
              <li class="clearfix">
                <img src="@routes.Assets.at("images/testimonials/user2.jpg")" alt="Robert DelNiro">
                <p>Curabitur elit tellus, curs dapibus posuere eget,facilisis nec dui. Vestibul congue leo et augue orsi aliquet vitae lobortis dolor. Duis interdum,est ut vehicula eleifend, sem turpis imperdiet nisl, at tempor orci nisi sit amet dui.</p>
                <div class="testimonial-meta">Robert DelNiro,<span>Brazil</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
    @layout.footer()
  </div>
}